.dropdown-menu-theend{
 --bs-position: end !important;
}
.ls-none {
    list-style: none !important;
}
/* Default Styles: No Margin */
.contents {
    margin-left: 0px !important;
  }
  /* Styles for 'md' and Larger Viewports */
@media (min-width: 767.98px) {
  .contents {
    margin-left: 240px !important;
  }
}
.form-width{
  min-width: 150px !important;
}
.nothing-added {
  background: #FFF;
  border: 2px dashed #e3e3e3;
  padding: 60px 0;
  font-size: 16px;
  text-align: center;
  color: #393f44;
  margin: 6px auto;
}
